:root {
    --main: #5943d6;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--main);
	padding: 10px;
	color: #fff;
}

.logo {
	padding-right: 8px;
}

nav {
	display: flex;
	flex-direction: row;
	background-color: #F5F8FA;
	padding: 10px;
	font-size: 14px;
}

nav a {
	margin-right: 20px;
	color: var(--main);
	text-decoration: none;
}

ul {
    list-style: none;
}

main {
	display: flex;
	flex-direction: row;
}

#content {
	flex: 2;
	padding: 20px;
	border-right: 1px solid #E1E8ED;
}

#content .tweet {
	margin-bottom: 20px;
}

#content .tweet .user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

#content .tweet .user-info img {
	border-radius: 50%;
	margin-right: 10px;
}

#content .tweet .tweet-content {
	font-size: 16px;
	line-height: 1.5;
}

aside {
	flex: 1;
	padding: 20px;
	font-size: 14px;
}

footer {
	background-color: #F5F8FA;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	color: #657786;
}

.tweet-box {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
  }
  
  .tweet-box textarea {
	border: none;
	box-sizing: border-box;
	font-size: 1.2em;
	height: 100px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px;
	resize: none;
	width: 100%;
  }
  
  .tweet-box-actions {
	display: flex;
	justify-content: space-between;
  }
  
  .tweet-box-actions input[type="submit"] {
	background-color: var(--main);
	border: none;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 25px;
  }
  
  .tweet-chars-remaining {
	color: #999;
	font-size: 0.8em;
	text-align: right;
	width: 100px;
  }
  
  ion-icon {
	color: white;
  }